<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" />
  </head>

  <body>
    <div class="header">
      <h1>Lista de Productos</h1>
      <h3>Encuentre los mejores productos con nosotros</h3>
      <form method="POST">
        <input type="submit" value="ANALISIS" class="button-analisis">
      </form>
    </div>
    <div class="container">
      {% for i in range(0,cantidad) %}
      <div class="card">
        <div class="card-image">
          <img
            src="{{imagenes[i]}}"
            alt="Imagen Producto"
            width="80%"
            height="70%"
          />
        </div>
        <div class="card-titulo">{{nombres[i]}}</div>
        <div class="card-medidas">{{medidas[i]}}</div>
        <div class="card-button">
          <button type="submit" value="{{inventario[i]}}" class="button-producto">Usar Producto</button>
        </div>
      </div>
      {% endfor %}
    </div>
    <script src="{{url_for('static',filename='script.js')}}"></script>
  </body>
</html>
